<template>
  <div id="purchase">
    <div class="purchase__title-wrapper">
      <h2 class="purchase__title">二步驟 <br> 打造專屬殼</h2>
    </div>
    <!-- 手機殼顯示區 -->
    <div class="display__area">
      <section class="purchase__preview">
        <div class="purchase__preview-images-wrapper">
          <img :src="phoneGroup.main" alt="" class="purchase__preview-image main">
          <img :src="phoneGroup.case" alt="" class="purchase__preview-image sub case">
          <img :src="phoneGroup.rim" alt="" class="purchase__preview-image sub rim purchase__preview-image--backward">
          <img :src="phoneGroup.button" alt="" class="purchase__preview-image sub button">
          <img :src="phoneGroup.backplate" alt="" class="purchase__preview-image sub backplate"></div>
          <div class="purchase__selector-wrapper phone">
            <div class="color-container">
              <p class="color-picker-title">裝置<br>顏色</p>
              <div class="normal color-picker color-picker--vertical">
                <div id="apple_graphite" class="color-picker--vertical__option active">
                  <div class="dot apple_graphite"></div>
                </div>
                <div id="silver" class="color-picker--vertical__option">
                  <div class="dot silver"></div>
                </div>
                <div id="gold" class="color-picker--vertical__option">
                  <div class="dot gold"></div>
                </div>
                <div id="pacific_blue" class="color-picker--vertical__option">
                  <div class="dot pacific_blue"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="purchase__backplate-switch-wrapper">
            <div class="backplate-switch light">
              <section class="backplate-switch__common" >
                <div class="backplate-switch__option">
                  <input type="radio" id="standard" value="standard" v-model="mode" />
                  <!-- 沒有樣式先移除 <div class="backplate-switch__checkbox backplate-switch__checkbox--active"></div>!-->
                  <p class="backplate-switch__mode-name" for="standard" >背板模式</p>
                </div>
                <div class="backplate-switch__option">
                  <input type="radio" id="bumper" value="bumper" v-model="mode" />
                  <!-- 沒有樣式先移除 <div class="backplate-switch__checkbox"></div> !-->
                  <p class="backplate-switch__mode-name" for="bumper" >邊框模式</p>
                </div>
              </section>
            </div>
          </div>
        </section>
    </div>
    <!-- 型號/顏色顯示區 -->
    <div class="selection__area">
      <div class="selection__area__top">
        <div class="device__selector">
          <select name="" id="device" v-model="device" @change="onDeviceChange($event)" >
            <option v-for="item in productItems" :value="item" :key="item">{{ item }}</option>
          </select>
        </div>

        <div class="outward">
          <div class="option__block">
          <div class="title-frame">
            <p class="option__title">手機殼顏色</p>
            <div class="icon" @click="showColor = !showColor"></div>
          </div>
          <transition name="show">
            <div v-if="showColor">
              <ul id="colors-case" >
                <li v-for="(color, index) in caseColors"  :key='index'>
                  <div :style="{width: '25px', height: '25px', backgroundColor: color.title }" :class="color.classStyle"  @click="caseColorSelect(color)" ></div>
                </li>
              </ul>
            </div>
          </transition>
          </div>
          <div class="option__block">
            <div class="title-frame">
              <p class="option__title">背板樣式</p>
              <div class="icon" @click="showBackplate = !showBackplate"></div>
            </div>
            <transition name="show">
              <div id="backplate-parent" v-if="showBackplate" >
                <div id="prev" @click="toProduct(-1)" ></div>
                <div id="backplate-frame">
                  <ul id="backplate-style" >
                    <li v-for="(backplate, index) in backplateStyle"  :key='index'>
                      <div :style="backplate.vueStyle" :class="backplate.classStyle"  @click="backplateSelect(backplate)" ></div>
                    </li>
                  </ul>
                </div>
                <div id="next" @click="toProduct(1)"></div>
              </div>
            </transition>
          </div>
        </div>
      </div>

      <div class="checkout">
        <div class="checkout__detail">
          <p class="checkout__detail__info">產品包含:</p>
          <p class="checkout__detail__info">手機殼外框 (黑) x 1</p>
          <p class="checkout__detail__info">按鍵 (黑) x 3</p>
          <p class="checkout__detail__info">背板 (透明) x 1</p>
          <p class="checkout__detail__info">飾條 (黑) x 1</p>
        </div>
        <div class="checkout__button__block">
          <button class="checkout__btn" @click="addToCart">加入購物車</button>
          <p class="price">$800 TWD</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
  },
  data () {
    return {
      phoneGroup: {
        main: 'https://cdn.shopify.com/s/files/1/0740/2335/products/phone45-12-Pro_AppleGraphite_d04b461d-15c3-4e43-9b43-a828eaa4478c.png?v=1603352312',
        case: 'https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Bumper_87d2c086-7e6a-4f40-93d9-33828a249bbe.png?v=1597911746',
        rim: 'https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Rim_2e73b29c-7262-463d-b047-2f91a790068a.png?v=1597911791',
        button: 'https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Button_23534b09-c1aa-4ab4-8174-ded2bc09069e.png?v=1597911773',
        backplate: 'https://cdn.shopify.com/s/files/1/0740/2335/products/minisite-NPB0118526L_b4665252-c418-480f-9ca3-b84fb860ca2c.png?v=1603868182'
      },
      mode: 'standard', // standard(背板) or bumper(邊框)
      cartItems: [],
      productItems: [],
      product: {},
      device: null,
      showColor: false,
      caseColors: [],
      showBackplate: false,
      backplateStyle: []
    }
  },
  computed: {

  },
  mounted () {
    this.fetchProductData()
  },
  watch: {
    mode (val) {
      const oldCase = JSON.parse(JSON.stringify(this.phoneGroup.case))
      const oldRim = JSON.parse(JSON.stringify(this.phoneGroup.rim))
      this.phoneGroup.case = oldRim
      this.phoneGroup.rim = oldCase
    }
  },
  methods: {
    fetchProductData () {
      this.axios.get('http://localhost:3000/mod-nx').then(response => {
        const data = Object.values(response.data.data)
        const dataSort = data.sort((a, b) => a.title - b.title)
        return this.groupProducts(dataSort)
      }).then(products => {
        if (products) {
          const productAry = Object.values(products)
          this.product = products
          this.changeCaseColor(productAry[0])
          this.changeBackplateStyle(productAry[0])
          this.setProductItems(products)
        }
      })
    },

    addToCart () {
      // TODO
      // 因為沒有確定產品要加入那些資訊，所以只加入手機，若有多種資訊，我會選擇使用json物件加入並且計算數量然後群組化
      // const example = { productName: xxx , qty: 2 , case: xxx, rim: xxx }
      //
      if (this.device === null) {
        return
      }
      this.cartItems.push(this.device)
      console.log(this.cartItems)
    },

    groupProducts (products) {
      // TODO
      products.forEach(each => {
        const filterIndex = each.title.indexOf('犀')
        const title = each.title.substring(0, filterIndex).replace(/\s+$/, '').replace(/-+$/, '').replace(/\s+$/, '')
        each.groupTitle = title
      })
      return Object.assign([], products).reduce((r, o) => {
        (r[o.groupTitle] = r[o.groupTitle] || []).push(o)
        return r
      }, Object.create(null))
    },

    setProductItems (groupProducts) {
      this.productItems = Object.keys(groupProducts)
    },
    // 依據選擇的產品把圖換掉，但目前不知道圖片對應暫時只寫程式邏輯
    changePhoneStyle (product) {
      //
      const backplateData = Object.values(product).filter(each => each.title.indexOf('(外') > 0)
      this.phoneGroup.backplate = backplateData[0].variants[0].image
    },

    changeCaseColor (product) {
      //
      if (!product) {
        return
      }
      const phoneData = Object.values(product).filter(each => each.title.indexOf('(手機)') > 0)
      if (!phoneData) {
        return
      }
      this.caseColors = phoneData[0].variants
      this.caseColors.forEach((each, index) => {
        each.index = index
      })
      this.caseColors[0].classStyle = 'selected'
      // 換掉手機樣式圖 不確定換的對不對
      this.phoneGroup.main = this.caseColors[0].image
    },

    caseColorSelect (caseColor) {
      const selCaseColor = this.caseColors.filter(each => each.id === caseColor.id)
      this.caseColors.forEach((each, index) => {
        each.classStyle = ''
      })
      selCaseColor[0].classStyle = 'selected'
      // 換掉手機樣式圖 不確定換的對不對
      this.phoneGroup.main = selCaseColor[0].image
      this.$set(this.caseColors, selCaseColor[0].index, selCaseColor[0])
    },

    changeBackplateStyle (product) {
      //
      if (!product) {
        return
      }
      const backplateData = Object.values(product).filter(each => each.title.indexOf('(背板)') > 0)
      if (!backplateData) {
        return
      }
      this.backplateStyle = backplateData[0].variants
      this.backplateStyle.forEach((each, index) => {
        each.index = index
        each.vueStyle = {
          width: '50px',
          height: '50px',
          backgroundImage: "url('" + each.image + "')",
          backgroundSize: 'cover',
          backgroundPosition: 'center',
          backgroundColor: 'white',
          borderRadius: '12%',
          cursor: 'pointer'
        }
      })
      this.backplateStyle[0].classStyle = 'selected'
      // 換掉背板樣式圖面 不確定換的對不對
      this.phoneGroup.case = (this.mode === 'standard' ? this.backplateStyle[0].image : this.phoneGroup.case)
      this.phoneGroup.rim = (this.mode === 'bumper' ? this.backplateStyle[0].image : this.phoneGroup.rim)
    },

    backplateSelect (backplate) {
      const selBackplate = this.backplateStyle.filter(each => each.id === backplate.id)
      this.backplateStyle.forEach((each, index) => {
        each.classStyle = ''
      })
      selBackplate[0].classStyle = 'selected'
      // 換掉背板樣式圖 不確定換的對不對
      this.phoneGroup.case = (this.mode === 'standard' ? selBackplate[0].image : this.phoneGroup.case)
      this.phoneGroup.rim = (this.mode === 'bumper' ? selBackplate[0].image : this.phoneGroup.rim)
      this.$set(this.backplateStyle, selBackplate[0].index, selBackplate[0])
    },

    toProduct (count) {
      const selProduct = this.backplateStyle.filter(each => each.classStyle === 'selected')
      if (!selProduct || selProduct.length < 1) {
        this.backplateStyle[0].classStyle = 'selected'
        return
      }
      const toSelIndex = selProduct[0].index + count
      if (this.backplateStyle.length <= toSelIndex) {
        return
      }
      const toProduct = this.backplateStyle.filter(each => each.index === toSelIndex)
      const step = count > 0 ? 60 : -60
      if (toProduct.length > 0) {
        const selProductPos = document.getElementsByClassName('selected')[0].offsetLeft
        document.getElementById('backplate-frame').scrollLeft = selProductPos + step // 一個圖片的寬度+padding
        toProduct[0].classStyle = 'selected'
        selProduct[0].classStyle = ''
        this.$set(this.backplateStyle, selProduct[0].index, selProduct[0])
        // 換掉背板樣式圖面 不確定換的對不對 ---> 暫時解法 需重新設計
        this.phoneGroup.case = (this.mode === 'standard' ? toProduct[0].image : this.phoneGroup.case)
        this.phoneGroup.rim = (this.mode === 'bumper' ? toProduct[0].image : this.phoneGroup.rim)
      }
    },

    onDeviceChange (event) {
      const selectProduct = this.product[event.target.value]
      this.changePhoneStyle(selectProduct) // 換掉手機畫面
      this.changeCaseColor(selectProduct)
      this.changeBackplateStyle(selectProduct)
      const backFrame = document.getElementById('backplate-frame')
      if (backFrame) {
        backFrame.scrollLeft = 0
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@font-face
  font-family: MarkPro-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro-Bold.otf?12401685184872946130')

@font-face
  font-family: NotoSansCJKtc-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Bold.otf?12610878586689504297')

@font-face
  font-family: MarkPro
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro.otf?4269257120200746974')

@font-face
    font-family: NotoSansCJKtc-Regular
    src: url(https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Regular.otf?4935245772218057441)

.backplate-switch__option
  display: flex
  align-items: center

#purchase
  position: relative
  width: 100%
  height: 100%
  max-width: 1440px
  display: flex
  padding: 120px 60px
  align-items: flex-start
  justify-content: space-between
  box-sizing: border-box

.purchase__title-wrapper
  width: 25%
  max-width: 220px

.display__area
  height: 100%

.selection__area
  display: flex
  flex-direction: column
  justify-content: space-between
  align-self: stretch
  margin-left: 70px
  width: 35%
  max-width: 260px

  .device__selector
    margin-bottom: 25px

  .checkout

    &__detail
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'

      &__info
        margin: 15px 0
        padding: 0
        line-height: 14px
        font-size: 14px
        text-align: left

    &__button__block
      display: flex
      justify-content: space-between
      align-items: center
      font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'

      .price
        font-size: 14px
        text-algin: right

    &__btn
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 40px
      max-width: 180px
      color: #FFF
      // font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
      box-shadow: none
      border: none
      border-radius: 20.5px
      background-color: #2D2D2D
      transition: all .3s ease
      white-space: inherit

  .outward
    border-top: 2px solid #D8D8D8

  .option__block
    position: relative
    display: flex
    justify-content: flex-start
    align-items: baseline
    padding: 20px 0
    border-bottom: 1px solid #D8D8D8
    flex-direction: column

    .option__title
      font-size: 14px
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'
      color: #2D2D2D

    .title-frame
      position: relative
      width: 100%
      text-align: left

      .icon
        position: absolute
        right: 0
        top: 50%
        width: 16px
        height: 16px
        transform: translateY(-50%)
        cursor: pointer

        &::before
          content: ''
          position: absolute
          left: 0
          width: 1px
          height: 16px
          background-color: #D8D8D8
          transform: rotate(90deg)
          transition: all .3s ease

        &::after
          content: ''
          position: absolute
          left: 0
          width: 1px
          height: 16px
          background-color: #D8D8D8
          transition: all .3s ease

    p
      margin: 0
      padding: 0

.purchase__preview
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 650px
  height: 100%
  &-images-wrapper
    position: relative
    height: 80%
  &-image
    &.main
      position: relative
      height: 100%
      z-index: 2
    &.sub
      position: absolute
      height: 100%
      top: 0
      left: 0
    &--backward
      z-index: 1
      transition: all .3s
      transform: translate(12%,-10%)
    &.case
      z-index: 3
    &.backplate
      z-index: 2

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3

.color-picker-title
  position: absolute
  top: 0
  right: 0
  margin: 0
  font-size: 12px
  color: #000
  line-height: normal
  text-transform: uppercase
  transform: translateY(-120%)
  opacity: .2

.color-picker--vertical
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 29px
    height: 29px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    margin-bottom: 18px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 23px
      height: 23px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer

.apple_graphite
  background-color: #686763

.silver
  background-color: #c9c8c9

.gold
  background-color: #fadcc2

.pacific_blue
  background-color: #43616c

#colors-case
  list-style: none
  padding: 0
  position: relative
  z-index: 1000

  li
    display: table-cell
    padding: 5px

    div
      border-radius: 50%
      cursor: pointer

    .selected
      border: solid white 3px
      box-shadow: 4px 4px 5px #b3b3b352

#backplate-style
  list-style: none
  padding: 0
  display: inline-flex

#backplate-style li
    display: block
    padding: 0 5px

    .selected
      border: solid 2px

#backplate-style li:first-child
    padding-left: 0

    .selected
      border: solid 2px

#backplate-parent
  width: 100%
  z-index: 9999
  position: relative

  #backplate-frame
    overflow: auto
    width: calc( 100% - 50px)
    z-index: 999
    position: relative
    transform: translate(-50%, 0%)
    left: 50%

  #prev
    width: 15px
    height: 100%
    position: absolute
    z-index: 1000
    font-size: 3rem
    cursor: pointer

    &::before
      content: '\2039'
      vertical-align: -20%

  #next
    width: 15px
    height: 100%
    position: absolute
    right: 0
    top: 0
    z-index: 1000
    font-size: 3rem
    cursor: pointer

    &::before
      content: '\203A'
      vertical-align: -20%

.show-enter-active, .show-leave-active
  transition: opacity .3s

.show-enter, .show-leave-to
  opacity: 0
</style>
